<section class="about" id="about">
    
    <div class="portrait"></div>
    
    <div class="about-text">
    
        <h3>Hi, I'm Cameron Wolfe</h3>

        <p class="about-p">I’m a sophomore in highschool and I want to design your website so it is ready for the 21st century and beyond.&nbsp;  As more and more customers go online to search goods and services, it makes it even more vital to have a website that not only looks good but leaves a lasting impression.&nbsp;  That’s where I come in.&nbsp;  I specialize in web design so you can be confident that current and potential customers will be brought in due to your modern website, earning you money!&nbsp;  I hope to have your business and thanks for your time!&nbsp;
        </p>

    </div>
        
</section>