<section class="about">
    
    <div class="portrait"></div>
    
    <div class="about-text">
    
        <h3>Hi, I'm Cameron Wolfe</h3>

        <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed nisi non neque laoreet condimentum vitae ac ipsum. Praesent nec efficitur velit, porttitor volutpat odio. Nullam quis sapien massa. Duis in semper arcu, at imperdiet dui. Cras facilisis, diam non tempor maximus, turpis eros egestas odio, non facilisis justo risus a sem. Pellentesque metus eros, aliquam pretium dictum sed, auctor quis turpis. In ullamcorper sem in sem consectetur vestibulum. Nunc sodales ullamcorper tortor, nec dapibus purus posuere sit amet. Curabitur rutrum semper ultrices. Vivamus vel fringilla ipsum. Suspendisse pulvinar felis sed dui cursus malesuada. Proin finibus tincidunt quam consequat hendrerit.
        </p>

    </div>
        
</section>