header
    background: url("/assets/img/hero-bg.jpg") center center
    background-size: cover
    color: #fff
    font-family: "Open Sans"
    box-shadow: 0px 3px 3px #555
    height: 600px
    z-index: 1
    
    .logo
        +size(50px)
        float: left
        margin-left: 30px
        margin-top: 10px
        fill: rgba(0,0,0,0.4)
        
    nav
        float: right
        margin-right: 30px
        margin-top: 25px
        a
            color: rgba(0,0,0,0.7)
            text-transform: uppercase
            font-size: 14px
            font-weight: 700
            margin-left: 20px
            display: inline-block
            
            &:hover
                color: rgba(0,0,0,1)
    
    h1
        margin-top: 0px
        padding: 100px 0 0
        color: #fff
        line-height: 1em
        text-transform: uppercase
        font-size: 72px
        font-weight: 700
        text-align: center
        clear: both
        
        span
            border-bottom: 12px solid #fff
            @media screen and (max-width: 895px)
                border-bottom: 0
    p
        font-size: 16px
        text-align: center
        text-transform: uppercase
        color: white
        
        span
            font-weight: 700